headerbar {
    min-height: 30px;
    padding: 0;
    margin: 0;
}

tabbar,
tabbar revealer,
tabbar .box,
tabbar scrolledwindow,
tabbar scrolledwindow viewport,
tabbar tabbox {
    background-color: transparent;
}

tabbar tabbox tab {
    padding: 0 16px;
    background-color: rgba(58, 58, 58, 0.6);
    color: #a89984;
}

tabbar tabbox tab:selected {
    background-color: rgba(124, 111, 100, 0.8);
    color: #fbf1c7;
}

tabbar tabbox tab .tab-title {
    font-size: 13px;
    font-weight: bold;
}
