headerbar {
    min-height: 30px;
    padding: 0;
    margin: 0;
}

tabbar tabbox {
    margin: 0;
    padding: 0;
    min-height: 30px;
    background-color: #1d2021;
}

tabbar tabbox tab {
    margin: 0;
    padding: 0;
    color: #fbf1c7;
}

tabbar tabbox tab:checked {
    background-color: red;
    color: white;
    font-weight: normal;
    text-shadow: none;
}

tabbar tabbox tab label {
    font-size: 18px;
    font-weight: normal;
    text-shadow: none;
}

tabbar tabbox tab:checked label {
    font-weight: normal;
    text-shadow: none;
}
